@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  clear: both;
  font-family: "Spartan";
  font-size: 16px; }

main {
  display: flex;
  margin: 5rem;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap; }
  main .header {
    width: 400px;
    margin: 50px; }
    main .header p {
      color: #502050;
      padding-bottom: 2rem; }
    main .header h1 {
      font-weight: 700;
      color: #502050;
      font-size: 3rem;
      padding-bottom: 2rem; }
  main .rating {
    margin-top: 60px;
    margin-left: 150px; }
    main .rating .checked {
      color: orange; }
    main .rating ul li {
      width: 400px;
      padding: 15px;
      list-style-type: none;
      background-color: #f7f2f7;
      margin: 30px;
      border-radius: 10px; }
    main .rating ul .review-2 {
      margin-top: 10px;
      margin-left: 70px; }
    main .rating ul .review-3 {
      margin-top: 20px;
      margin-left: 100px; }
    main .rating ul .stars {
      padding-left: 30px;
      color: #502050;
      font-weight: 500;
      font-size: .8rem; }
  main .reviews {
    display: flex;
    min-width: 100hw; }
    main .reviews .card-container2 {
      margin-top: 20px; }
    main .reviews .card-container3 {
      margin-top: 40px; }
    main .reviews .card {
      background-color: #502050;
      color: white;
      width: 290px;
      padding: 30px;
      border-radius: 5px;
      margin: 20px; }
      main .reviews .card .info {
        display: inline-block;
        padding-bottom: 20px;
        padding-left: 20px; }
      main .reviews .card img {
        border-radius: 50%;
        width: 15%; }
      main .reviews .card .name {
        font-weight: 700;
        font-size: .9rem; }
      main .reviews .card .title {
        font-weight: 500;
        font-size: .7rem;
        color: #ee68a4; }
      main .reviews .card .comment {
        font-weight: 400;
        font-size: .8rem;
        line-height: 2; }
      main .reviews .card .review-2 {
        margin-top: 10px;
        margin-left: 70px; }
      main .reviews .card .review-3 {
        margin-top: 20px;
        margin-left: 100px; }

@media only screen and (max-width: 425px) {
  main {
    margin: 0; }
    main .header {
      width: 200px; }
      main .header h1 {
        font-size: 1.5rem; }
    main .reviews {
      display: block; }
      main .reviews .card {
        width: 260px; }
    main .rating {
      margin-top: 0;
      margin-left: 0; }
      main .rating .stars {
        font-size: 0.5rem; }
      main .rating .fa-star {
        font-size: 0.6rem; }
      main .rating ul .review-2 {
        margin-top: 0;
        margin-left: 2rem; }
      main .rating ul .review-3 {
        margin-top: 0;
        margin-left: 2rem; }
      main .rating ul li {
        width: 270px;
        font-size: 0.5rem; } }
