@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

$primary_pink: hsl(333, 80%, 67%);
$primary_magenta: hsl(300, 43%, 22%);

$Dark_Grayish_Magenta: hsl(303, 10%, 53%);
$Light_Grayish_Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

$font: 'Spartan';
$font-normal: 400;
$font-medium: 500;
$font-heavy: 700;

h1 {
  font-weight: $font-heavy;
  color: $primary_magenta;
}